<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylePaginaEstatistica.css">
    <title>LoL Palpiteiro Insights - Estatistica</title>
</head>

<body>
    <div>
        <div th:if="${session.loggedInUser}">
            <!-- Conteúdo da página restrita -->
            <p>Usuário logado: <span th:text="${session.loggedInUser}"></span></p>
        </div>
        <div class="meio-tela">
                <h1>Campeonato: LCK</h1>
                <h3 class="azul">Blue</h3>
                <h3 class="vermelho">Red</h3>
        </div>
    </div>
    <script src="scriptPaginaOrganizacao.js"></script>
</body>
</html>